mixin icon(name,mod)
	if(mod)
		svg(class="svg-sprite-icon icon-" + name + ' ' + mod)
			use(xlink:href="static/images/sprite/symbol/sprite.svg#" + name)
	else
		svg(class="svg-sprite-icon icon-" + name)
			use(xlink:href="static/images/sprite/symbol/sprite.svg#" + name)

mixin breadcrumb(link, name)
	li
		a(href="" +link target="_self").breadcrumb__link=name

mixin cat-type(id, link, image, name)
	li(id=id).catalog__item
		a(href="" +link target="_self").catalog__link=link
			img(src="static/images/content/ " +image + '.png' alt="" +name).catalog__image
			b.catalog__name=name
