.cards {
  padding-top: 64px;
  padding-bottom: 80px;
  border-bottom: 3px solid $color-palegray;
}

.cards-container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 76px;
}

.cards__breadcrumbs-wrapper {
  background-color: $color-palegray;
}