.card-table-2 .table {
  grid-template-columns: 103px 1fr;
  grid-column-gap: 11px;
  margin: 0 auto;
  max-width: 778px;

  &-main-title {
    grid-template-columns: 103px 1fr;
    grid-column-gap: 11px;
  }

  &-aside {
    grid-template-columns: 103px;
  }

  &-title {
    display: inline-grid;
    place-items: center;
    min-height: 36px;
    padding: 0;
    text-align: center;
    @include my-font-setting(14px, 20px, 400, $color-grey, $font-alt);
  }

  .title-block {
    display: inline-grid;
    place-items: center;
    min-height: 84px;
    padding-top: 11px;
    padding-left: 0;

    & span {
      width: 100%;
      text-align: center;
    }
  }

  .body-head,
  .body-photo-block,
  .body-block {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(96px, 1fr));
  }
}