.cards.card-4 {
  padding-bottom: 81px;
}

.card-4 {
  & .cards__filter-wrapper {
    margin-bottom: 0;
  }
}

.card-4 {
    .cards__filter-input--thickness {
        width: 100%;
    }
}

@media (max-width: $laptop-sm) {
    .card-4 {
        .cards__filter-input--thickness {
            width: 100%;
        }

        .cards__filter-input--diameter {
            width: 214px;
        }

        .cards__filter-input--height {
            width: 214px;
            margin-left: auto;
            margin-right: 0;
        }
    }
  .cards.card-4 {
    padding-bottom: 55px;
  }

  .card-4 {
    & .cards__filter-wrapper {
      flex-flow: row wrap;
    }
  }
}

@media (max-width: $tablet) {
  .cards.card-4 {
    padding-bottom: 31px;
  }

  .card-4 {
    .cards__filter-input {
      &--thickness {
        margin-bottom: 33px;
      }

      &--height,
      &--diameter {
        width: 100%;
        margin-right: 0;
      }
    }
  }
}
