.cards.card-5 {
  padding-bottom: 80px;
}

.card-5 {
  & .cards__filter-wrapper {
    margin-bottom: 0;
  }

  & .cards__filter-input {
    &--quantity {
      margin-right: 200px;
    }
  }
}

@media (max-width: $laptop-sm) {
  .card-5 .cards__filter-input {
    &--form-type {
      display: flex;
      flex-flow: row wrap;
      width: 100%;
    }

    &--quantity {
      margin-right: 0;
    }

    & .selectric {
      width: 337px;
      margin-right: 32px;
    }

    & img {
      display: block;
      margin-top: -15px;
    }
  }
}

@media (max-width: $tablet) {
  .cards.card-5 {
    padding-bottom: 31px;
  }

  .card-5 {
    & .cards__filter-input {
      &--form-type {
        display: flex;
        flex-flow: column;
      }

      &--form-type {
        margin-bottom: 24px;
      }

      & .selectric {
        width: 100%;
        margin-bottom: 23px;
      }

      & img {
        margin-top: 0;
      }
    }
  }
}
