.cards {
  padding-top: 64px;
  border-bottom: 3px solid $color-palegray;
}

.cards-container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 76px;
}

.cards__content {
  display: flex;
  flex-flow: row wrap;
}

.cards__img-wrapper {
  position: relative;
  margin-right: 32px;

  &--new {
    &::before {
      content: "";
      position: absolute;
      top: 4px;
      right: 4px;
      width: 44px;
      height: 44px;
      background-color: $color-yellow;
      border-radius: 50%;
      box-shadow: 0px 3px 20px -3px rgba(46, 51, 63, 0.55);
      z-index: 1;
    }

    &::after {
      content: "NEW";
      position: absolute;
      top: 20px;
      right: 14px;
      width: 24px;
      height: 24px;
      @include my-font-setting(12px, 12px, 700, $color-black);
      text-transform: uppercase;
      z-index: 1;
    }
  }
}

.cards__img {
  position: relative;
  width: 373px;
  height: 240px;
}

.cards__filters {
  width: 643px;

  & h1 {
    margin-top: -3px;
    margin-bottom: 5px;
    @include my-font-setting(32px, 48px, 700, $color-black, $font-primary);
  }

  & .cards__tags,
  & .cards__availability {
    display: inline-block;
    margin-bottom: 31px;
  }

  & .cards__tags {
    margin-right: 31px;
    @include my-font-setting(14px, 20px, 400, $color-grey);
  }

  & .cards__availability {
    position: relative;
    padding-left: 23px;
    @include my-font-setting(16px, 24px, 400, $color-green);

    &::before {
      content: "";
      position: absolute;
      top: 6px;
      left: 1px;
      width: 12px;
      height: 12px;
      background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6 0C9.31371 0 12 2.68629 12 6C12 9.31371 9.31371 12 6 12C2.68629 12 0 9.31371 0 6C0 2.68629 2.68629 0 6 0ZM8.29289 3.29289L5 6.58579L3.70711 5.29289C3.31658 4.90237 2.68342 4.90237 2.29289 5.29289C1.90237 5.68342 1.90237 6.31658 2.29289 6.70711L4.29289 8.70711C4.68342 9.09763 5.31658 9.09763 5.70711 8.70711L9.70711 4.70711C10.0976 4.31658 10.0976 3.68342 9.70711 3.29289C9.31658 2.90237 8.68342 2.90237 8.29289 3.29289Z' fill='%23219653'/%3E%3C/svg%3E%0A");
    }

    &--miss {
      padding-left: 0;
      color: $color-red;

      &::before {
        display: none;
      }
    }
  }
}

.cards__filter {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 8px;

  & .cards__filter-tag {
    display: block;
    width: 100%;
    margin-bottom: 19px;
    @include my-font-setting(14px, 20px, 700);
  }

  & .cards__filter-group {
    display: flex;
    align-items: center;
    align-content: center;
    margin-right: 24px;
  }
}

.cards__label-radio {
  position: relative;
  margin-bottom: 25px;
  padding-left: 36px;
  @include my-font-setting(16px, 24px, 400);
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    border: 1px solid $color-grey;
    border-radius: 50%;
    z-index: 0;
  }

  &::before {
    content: "";
    position: absolute;
    display: none;
    top: 8px;
    left: 8px;
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
    z-index: 1;
  }

  &:hover::after,
  &:focus::after {
    border-color: $color-blue;
    background: rgba(47, 128, 237, 0.1);
  }
}

.cards__filter-group input[type="radio"] {
  &:checked ~ .cards__label-radio::after {
    border: 1px solid $color-blue;
    background-color: $color-blue;
  }

  &:checked ~ .cards__label-radio::before {
    display: block;
  }

  &:disabled ~ .card-2__order-label-radio::after {
    border-color: $color-grey;
    background: $color-grey;
    opacity: 0.15;
  }
}

.cards__filter-input {
  margin-bottom: 32px;

  &:not(:last-of-type) {
    margin-right: 24px;
  }

  &--side-height,
  &--side-quantity {
    width: 245px;
  }

  &--quantity {
    width: 105px;
  }

  &--forms-in-section {
    width: 198px;
  }

  &--form-type {
    width: 292px;
  }

  &--thickness {
    width: 100%;

    & span.cards__filter-tag {
      margin-bottom: 20px;
    }
  }

  & p {
    @include my-font-setting(16px, 24px, 400);
  }

  &--diameter,
  &--height {
    width: 245px;
  }

  &--circle-diameter {
    width: 144px;

    & span.cards__filter-tag {
      margin-bottom: 20px;
    }
  }

  &--height-text {
    width: 51px;

    & span.cards__filter-tag {
      margin-bottom: 20px;
    }
  }

  & img {
    display: none;
  }

  & .cards__filter-tag {
    margin-bottom: 12px;
  }

  & .cards__input-quantity {
    position: relative;

    & input {
      width: 100%;
      height: 42px;
      @include my-font-setting(16px, 24px, 400);
      text-align: center;
      border: 1px solid $color-grey;
      border-radius: 3px;
      background-color: $color-white;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        margin: 0;
        -webkit-appearance: none;
        -moz-appearance:textfield;
      }

      &:hover,
      &:focus {
        border-color: $color-blue;
        box-shadow: inset 0px 0px 0px 1px $color-blue;
        background: linear-gradient(0deg, rgba(47, 128, 237, 0.05), rgba(47, 128, 237, 0.05)), #FFFFFF;
        outline: none;
      }

      &:disabled {
        border: none;
        box-shadow: none;
        background: rgba(152, 160, 170, 0.15);

        &:hover,
        &:focus {
          border: none;
          background: rgba(152, 160, 170, 0.15);
        }
      }

      &.invalid {
        border-color: $color-red;
        box-shadow: inset 0px 0px 0px 1px $color-red;
        background: linear-gradient(0deg, rgba(235, 87, 87, 0.1), rgba(235, 87, 87, 0.1)), #FFFFFF;
        outline: none;
      }
    }

    & .minus,
    & .plus {
      position: absolute;
      top: 50%;
      font-size: 26px;
      color: #A2A2A2;
      cursor: pointer;
      transform: translateY(-50%);

      &:hover,
      &:focus {
        color: $color-blue;
      }

      &:hover ~ input ,
      &:focus ~ input {
        border-color: $color-blue;
        box-shadow: inset 0px 0px 0px 1px $color-blue;
        background: linear-gradient(0deg, rgba(47, 128, 237, 0.05), rgba(47, 128, 237, 0.05)), #FFFFFF;
        outline: none;
      }

      &:active {
        opacity: 0.8;
      }
    }

    & .minus {
      left: 14px;
      width: 15px;
      height: 39px;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        width: 12px;
        height: 2px;
        background-color: #A2A2A2;
        border-radius: 1px;
        transform: translateY(-50%);
      }

      &:hover::before,
      &:focus::before {
        background-color: $color-blue;
      }

      &:hover ~ input ,
      &:focus ~ input {
        border-color: $color-blue;
        box-shadow: inset 0px 0px 0px 1px $color-blue;
        background: linear-gradient(0deg, rgba(47, 128, 237, 0.05), rgba(47, 128, 237, 0.05)), #FFFFFF;
        outline: none;
      }

      &:active::before {
        opacity: 0.8;
      }
    }

    & .plus {
      right: 12px;
    }
  }

  & .selectric {
    height: 42px;
    border: 1px solid $color-grey;
    border-radius: 3px;
    background-color: $color-white;
  }

  & .selectric .label {
    height: auto;
    margin: 9px 38px 9px 12px;
    @include my-font-setting(16px, 24px, 400);
  }

  & .selectric .button {
    height: 40px;
    color: $color-black;
    background-color: $color-white;

    &::after {
      border-top-color: $color-black;
    }
  }

  .selectric-items {
    color: $color-grey;
    background: linear-gradient(0deg, rgba(47, 128, 237, 0.05), rgba(47, 128, 237, 0.05)), #FFFFFF;
    border: 1px solid $color-blue;

    & li.highlighted {
      color: $color-black;
      background: $color-lightBlue;
    }

    & li:hover {
      color: $color-black;
      background: $color-lightBlue;
    }
  }

  .selectric-hover .selectric {
    border-color: $color-blue;
    box-shadow: inset 0px 0px 0px 1px $color-blue;
    background: linear-gradient(0deg, rgba(47, 128, 237, 0.05), rgba(47, 128, 237, 0.05)), #FFFFFF;

    & .button {
      color: $color-blue;
      box-shadow: inset -1px 1px 0px 0px $color-blue, inset 0px -1px 0px 0px $color-blue;
      background: linear-gradient(0deg, rgba(47, 128, 237, 0.05), rgba(47, 128, 237, 0.05)), #FFFFFF;

      &::after {
        border-top-color: $color-blue;
      }
    }
  }
}

.cards__price {
  @include my-font-setting(28px, 42px, 700);
}

.cards__button-in-cart {
  width: 216px;
  min-height: 42px;
  margin-top: 23px;
  @include my-font-setting(16px, 24px, 500, $color-white, $font-alt);
  border: none;
  border-radius: 3px;
  background: $color-blue;
  box-shadow: 0 3px 20px rgba(46, 51, 63, 0.35);
  cursor: pointer;

  &:hover,
  &:focus {
    background: $blue-hover;
    outline: none;
  }

  &:active {
    opacity: 0.6;
  }

  &.disabled {
    color: rgba(31, 37, 40, 0.5);
    background: rgba(152, 160, 170, 0.15);
    box-shadow: none;
  }
}

@media (max-width: $laptop-sm) {
  .cards {
    border-bottom: none;
  }

  .cards-container {
    width: 768px;
    padding: 0 31px;
  }

  .cards__img {
    width: 214px;
    height: 138px;
  }

  .cards__filters {
    width: 460px;

    & h1 {
      margin-bottom: 11px;
      @include my-font-setting(28px, 42px, 700, $color-black, $font-primary);
    }

    & .cards__tags,
    & .cards__availability {
      margin-bottom: 33px;
    }
  }

  .cards__filter-input {
    &:not(:last-of-type) {
      margin-right: 0;
    }

    &--side-height,
    &--side-quantity,
    &--diameter,
    &--height {
      width: 214px;
    }
  }

  .cards__price {
    margin-left: 33px;
    margin-top: 27px;
    @include my-font-setting(28px, 42px, 700);
  }

  .cards__button-in-cart {
    margin-top: 0;
  }
}

@media (max-width: $tablet) {
  .cards {
    padding-top: 32px;
  }

  .cards-container {
    width: 320px;
    padding: 0 24px;
  }

  .cards__img {
    width: 272px;
    height: 175px;
  }

  .cards__content {
    flex-flow: column;

    & .cards__img-wrapper {
      margin-right: 0;
      margin-bottom: 33px;
    }
  }

  .cards__filters {
    width: 100%;

    & h1 {
      margin-top: -4px;
      margin-bottom: 11px;
    }
  }

  .cards__label-radio {
    margin-bottom: 24px;
  }

  .cards__filter {
    margin-bottom: 9px;
  }

  .cards__filter-input {
    margin-bottom: 24px;

    &:nth-of-type(2n-1) {
      margin-right: 0;
    }

    &--side-height,
    &--side-quantity {
      width: 100%;
    }

    &--quantity {
      margin-top: 8px;
    }
  }

  .cards__price {
    margin-top: 36px;
    @include my-font-setting(28px, 42px, 700);
  }
}