.card-tables.card-table-4 {
  & h1 {
    margin-bottom: 33px;
  }
}

.card-table-4 .table {
  grid-template-columns: 103px 1fr;
  margin: 0 auto;

  &-main-title {
    grid-template-columns: 103px 1fr;
  }

  &-aside {
    grid-template-columns: 103px;
  }

  &-title {
    min-height: 36px;
    padding: 0;
    @include my-font-setting(14px, 20px, 400, $color-grey, $font-alt);
  }

  .title-block {
    display: inline-grid;
    place-items: center;
    min-height: 42px;
    padding-top: 5px;
    padding-left: 0;

    & span {
      display: flex;
      flex-flow: column;
      align-items: center;
      align-content: center;
      width: 100%;
    }
  }

  .body-head,
  .body-photo-block,
  .body-block {
    grid-template-columns: repeat(auto-fit, minmax(96px, 1fr));
  }

  .body-content {
    display: inline-grid;
    place-items: center;
    min-height: 42px;
    padding-top: 3px;
    @include my-font-setting(16px, 24px, 400, $color-black, $font-alt);

    &:hover,
    &:focus {
      padding-top: 0;
      font-size: 0;
      line-height: 0;
      color: transparent;
    }

    & button {
      margin-top: -6px;
    }
  }
}
