.cards.card-1 {
  padding-bottom: 80px;
}

@media (max-width: $laptop-sm) {
  .cards.card-1 {
    padding-bottom: 96px;
  }

  .card-1 .cards__filter {
    margin-bottom: 0;
  }

  .card-1 .cards__filter-input {
    &--forms-in-section,
    &--form-type {
      display: flex;
      flex-flow: row wrap;
      width: 100%;

      &:nth-of-type(2n-1) {
        margin-right: 0;
      }
    }

    &--form-type {
      margin-bottom: 16px;
    }

    & .selectric {
      width: 337px;
      margin-right: 32px;
    }

    & img {
      display: block;
      margin-top: -15px;
    }
  }

  .card-1 .cards__button-in-cart {
    margin-top: 0;
  }
}

@media (max-width: $tablet) {
  .cards.card-1 {
    padding-bottom: 64px;
  }

  .card-1 .cards__filter-input {
    margin-bottom: 33px;

    &--forms-in-section,
    &--form-type {
      display: flex;
      flex-flow: column;
    }
    &--form-type {
      margin-bottom: 9px;
    }

    & .selectric {
      width: 100%;
      margin-bottom: 23px;
    }

    & img {
      margin-top: 0;
    }
  }

  .card-1 .cards__button-in-cart {
    margin-top: -2px;
  }
}


