.cards.card-2 {
  padding-bottom: 72px;
}

@media (max-width: $laptop-sm) {
  .cards.card-2 {
    padding-bottom: 55px;
  }

  .card-2 .cards__filter-input {
    &--side-height {
      margin-right: 32px;
    }
  }
}

@media (max-width: $tablet) {
  .cards.card-2 {
    padding-bottom: 31px;
  }

  .card-2 .cards__filter-input {
    &--side-height {
      margin-right: 0;
    }
  }
}
