.card-table-5 .table {
  grid-template-columns: 237px 257px;
  grid-column-gap: 13px;
  max-width: min-content;
  margin: 0 auto;

  .aside-empty-title {
    padding: 0 20px;
    text-align: center;
  }

  .body-head,
  .body-photo-block,
  .body-block {
    grid-template-columns: repeat(auto-fit, minmax(96px, 257px));
  }
}