.breadcrumbs {
  background-color: $color-palegray;
}

.breadcrumbs-list {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  align-items: center;
  min-height: 40px;
  margin-bottom: 80px;

  &._category {
      margin-bottom: 0;
  }

  & li {
    margin: 8px 13px 8px 0;
  }

  & a  {
    position: relative;
    padding-right: 27px;
    @include my-font-setting(16px, 24px, 400);
    text-decoration: none;

    &::after {
      content: '';
      position: absolute;
      top: 5px;
      right: -1px;
      border: 4px solid transparent;
      border-left: 4px solid $color-grey;
    }
  }

  & a.active {
    color: $color-grey;

    &::after {
      display: none;
    }

    &:hover,
    &:focus {
      opacity: 1;
      color: $color-grey;
      outline: none;
      cursor: auto;
    }

    & active {
      opacity: 1;
    }
  }

  & a:hover,
  & a:focus {
    color: $color-black;
    opacity: 0.8;
    outline: none;
  }

  & a:active {
    opacity: 0.6;
  }
}

@media (max-width: $laptop-sm) {
  .breadcrumbs-list {
    margin-bottom: 64px;

    &._category {
        margin-bottom: 0;
    }
  }
}

@media (max-width: $tablet) {
  .breadcrumbs-list {
    flex-flow: row wrap;
    margin-bottom: 48px;

    padding-top: 0.313rem;
    padding-bottom: 0.313rem;

    &._category {
        margin-bottom: 0;
    }

    & li {
      margin-top: 0.313rem;
      margin-bottom: 0.313rem;
      display: inline-flex;
    }

    & a  {
      @include my-font-setting(14px, 20px, 400);

      &::after {
        content: '';
        position: absolute;
        top: 5px;
        right: -1px;
        border: 4px solid transparent;
        border-left: 4px solid $color-grey;
      }
    }
  }
}
