<section class="cards card-2">
    <div class="cards__breadcrumbs-wrapper">
        <ul class="cards__breadcrumbs">
            +breadcrumb('#', 'Каталог')
            +breadcrumb('#', 'Хлебные формы')
            +breadcrumb('#', 'Тостовые')
            +breadcrumb('#', 'Противень 600х400х20')
        </ul>
    </div>
    <div class="card-2__content cards-container">
        <img src="images/content/card-2-example.jpg" width="373" height="240" >
        <div class="card-2__filters">
            <h2>Противень 600х400х20 багет</h2>
            <span>SKU Л011</span>
            <span>Нет в наличии</span>
            <div class="card-2__filter-material">
                <input>
            </div>
        </div>
    </div>
</section>
