<section class="cards card-1">
    <div class="breadcrumbs">
        <ul class="breadcrumbs-list cards-container">
            +breadcrumb('catalog.html', 'Каталог')
            +breadcrumb('#', 'Хлебные формы')
            +breadcrumb('#', 'Тостовые')
            +breadcrumb('#', 'Тостерная №1')
        </ul>
    </div>
    <div class="cards__content cards-container">
        <div class="cards__img-wrapper cards__img-wrapper--new">
            <picture class="cards__img-frame">
                <img class="cards__img" src="static/images/content/card-1-example.jpg" width="373" height="240">
            </picture>
        </div>
        <div class="cards__filters">
            <h1>Тостерная №1</h1>
            <span class="cards__tags">SKU Л011</span>
            <span class="cards__availability">В наличии</span>
            <div class="cards__filter">
                <div class="cards__filter-wrapper">
                    <div class="cards__filter-input cards__filter-input--forms-in-section">
                        <span class="cards__filter-tag">Сборка форм в секции</span>
                        <select class="selectric" id="get_value" tabindex="0">
                            <option value="1">1</option>
                            <option value="2">3</option>
                            <option value="3">3 с ручками</option>
                            <option value="4">4</option>
                            <option value="5">4 3 с ручками</option>
                            <option value="6">5</option>
                            <option value="7">5 3 с ручками</option>
                            <option value="8">6 3 с ручками</option>
                        </select>
                        <img src="static/images/content/card-1-tablet-1.jpg" width="91" height="56">
                    </div>
                    <div class="cards__filter-input cards__filter-input--form-type">
                        <span class="cards__filter-tag">Тип формы </span>
                        <ul class="selectric">
                            <li data-index="4-sides">Тостерная №7 ( 280 х 80 х 75)</li>
                            <li data-index="3-sides">Тостерная №8 (210 х 80 х 75)</li>
                            <li data-index="2-sides">Тостерная №9 (198 х 113 х 93)</li>
                            <li data-index="4-sides">Рулетница (307 х 107 х 53)</li>
                            <li data-index="3-sides">Волнистая (320 х 125 х 60)</li>
                        </ul>
                        <img src="static/images/content/card-1-tablet-2.jpg" width="72" height="72">
                    </div>
                    <div class="cards__filter-input cards__filter-input--quantity">
                        <span class="cards__filter-tag">Количество</span>
                        <div class="cards__input-quantity">
                            <span class="minus"></span>
                            <span class="plus">+</span>
                            <input type="number" id="quantity" name="quantity" min="1" value="1">
                        </div>
                    </div>
                </div>
                <span class="cards__price">250 ₽</span>
            </div>
            <button class="cards__button-in-cart" href="#">Добавить в корзину</button>
        </div>
    </div>
</section>
<section class="card-tables card-table-1 cards-container">
    <h2>Выбрать сборку и тип формы в таблице</h2>
    .table
        .table-main-title
            .aside-empty-title
            .body-main-title Количество форм в секции
        .table-aside
            .table-title
                span.title-main Наименование формы
                span.title-dimensions Размер, мм
            .title-block
                picture.aside-img-frame.noimage
                    img.title-img(src="static/images/content/table-1-title-example-1.jpg")
                span.title-block-head Тостерная №7
                    span ( 280 х 80 х 75)
            .title-block
                picture.aside-img-frame
                    img.title-img(src="static/images/content/table-1-title-example-2.jpg")
                span.title-block-head Тостерная №8
                    span ( 280 х 80 х 75)
            .title-block
                picture.aside-img-frame
                    img.title-img(src="static/images/content/table-1-title-example-3.jpg")
                span.title-block-head Тостерная №9
                    span (198 х 113 х 93)
            .title-block
                picture.aside-img-frame
                    img.title-img(src="static/images/content/table-1-title-example-4.jpg")
                span.title-block-head Рулетница
                    span (307 х 107 х 53)
            .title-block
                picture.aside-img-frame
                    img.title-img(src="static/images/content/table-1-title-example-5.jpg")
                span.title-block-head Волнистая
                    span (320 х 125 х 60)
        .table-body
            // row
            .body-head
                .body-title 1
                .body-title 3
                .body-title 3
                    span с ручками
                .body-title 4
                .body-title 4
                    span с ручками
                .body-title 5
                .body-title 5
                    span с ручками
                .body-title 6
                    span с ручками
            .body-photo-block
                .body-photo
                    picture.body-img-frame.noimage
                        img.title-img(src="static/images/content/table-1-example-1.jpg")
                .body-photo
                    picture.body-img-frame
                        img.title-img(src="static/images/content/table-1-example-2.jpg")
                .body-photo
                    picture.body-img-frame
                        img.title-img(src="static/images/content/table-1-example-3.jpg")
                .body-photo
                    picture.body-img-frame
                        img.title-img(src="static/images/content/table-1-example-4.jpg")
                .body-photo
                    picture.body-img-frame
                        img.title-img(src="static/images/content/table-1-example-5.jpg")
                .body-photo
                    picture.body-img-frame
                        img.title-img(src="static/images/content/table-1-example-6.jpg")
                .body-photo
                    picture.body-img-frame
                        img.title-img(src="static/images/content/table-1-example-7.jpg")
                .body-photo
                    picture.body-img-frame
                        img.title-img(src="static/images/content/table-1-example-8.jpg")
            .body-block
                .body-content 238 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 811 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 837 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1073 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1143 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1344 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1416 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1697 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
            .body-block
                .body-content 213 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 737 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 763 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 975 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1045 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1222 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1294 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1550 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
            .body-block
                .body-content 238 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 809 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 846 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1076 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1157 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1344 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1444 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1734 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
            .body-block
                .body-content 250 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 848 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 875 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1122 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1192 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content -
                .body-content 1477 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1769 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
            .body-block
                .body-content 259 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 883 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 905 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1160 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1230 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content -
                .body-content 1524 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1827 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
</section>
<div class="cards-modal">
<h4>Форма тостерная №9</h4>
<span class="cards-modal__dimensions"></span>
<span class="cards-modal__description"><span class="first"></span><span class="second"></span></span>
<span class="cards-modal__price"></span>
<form class="cards-modal__form" action="#" method="get">
<div class="cards__filter-input cards__filter-input--quantity">
<span class="cards__filter-tag">Количество</span>
<div class="cards__input-quantity">
<span class="minus"></span>
<span class="plus">+</span>
<input type="number" id="quantity" name="quantity" min="1" value="1">
</div>
</div>
<input class="visually-hidden" name="title">
<input class="visually-hidden" name="dimensions">
<input class="visually-hidden" name="description">
<input class="visually-hidden" name="price">
<button type="submit" alt="Добавить в корзину">Добавить в корзину</button>
</form>
<button class="modal-form__close-button" type="button"><span class="visually-hidden">Закрыть окно</span></button>
</div>
<div class="overlay"></div>
<div class="cards-modal-success">
    <p>Товар успешно добавлен в корзину</p>
</div>
