<section class="cards card-5">
    <div class="breadcrumbs">
        <ul class="breadcrumbs-list cards-container">
            +breadcrumb('catalog.html', 'Каталог')
            +breadcrumb('#', 'Пресс-формы для ветчин')
            +breadcrumb('#', 'Круглые')
            +breadcrumb('#', 'Пресс-форма для ветчин и мяса')
        </ul>
    </div>
    <div class="cards__content cards-container">
        <div class="cards__img-wrapper cards__img-wrapper--new">
            <picture class="cards__img-frame">
                <img class="cards__img" src="static/images/content/card-5-example.jpg" width="373" height="240">
            </picture>
        </div>
        <div class="cards__filters">
            <h1>Пресс-форма для ветчин и мяса</h1>
            <span class="cards__tags">SKU Л011</span>
            <span class="cards__availability">В наличии</span>
                <div class="cards__filter">
                    <div class="cards__filter-wrapper">
                        <div class="cards__filter-input cards__filter-input--form-type">
                            <span class="cards__filter-tag">Тип формы</span>
                            <select class="selectric" id="get_value" tabindex="0">
                                <option value="1">Пф-145К (145 х 65)</option>
                                <option value="2">Пф-160К (160 х 100)</option>
                                <option value="3">ПФ-185К (185 х 135)</option>
                            </select>
                            <img src="static/images/content/card-5-tablet.jpg" width="91" height="56">
                        </div>
                        <div class="cards__filter-input cards__filter-input--quantity">
                            <span class="cards__filter-tag">Количество</span>
                            <div class="cards__input-quantity">
                                <span class="minus"></span>
                                <span class="plus">+</span>
                                <input type="number" id="quantity" name="quantity" min="1" value="1">
                            </div>
                        </div>
                        <span class="cards__price">1211 ₽</span>
                    </div>
                </div>
            <button class="cards__button-in-cart" href="#">Добавить в корзину</button>
            <p class="cards__description">Элсемь - это производитель качественного оборудования для пищевой промышленности. Мы работаем с 2015 года и предлагаем только качественные товары по приемлемым ценам с доставкой по всей России. Элсемь - это производитель качественного оборудования для пищевой промышленности. Мы работаем с 2015 года и предлагаем только качественные товары по приемлемым ценам с доставкой по всей России. Элсемь - это производитель качественного оборудования для пищевой промышленности.</p>
        </div>
    </div>
</section>
<section class="card-tables card-table-5 cards-container">
    <h2>Выбрать тип формы в таблице</h2>
    .table.table-mini
        .table-main-title
            .aside-empty-title
                span.title-main Наименование формы
                span.title-dimensions Размер, мм
            .body-main-title Цена
        .table-aside
            .title-block
                picture.aside-img-frame
                    img.title-img(src="static/images/content/table-5-example-1.jpg")
                span Пф-145К
                    span (145 х 65)
            .title-block
                picture.aside-img-frame
                    img.title-img(src="static/images/content/table-5-example-2.jpg")
                span Пф-160К
                    span (160 х 100)
            .title-block
                picture.aside-img-frame
                    img.title-img(src="static/images/content/table-5-example-3.jpg")
                span ПФ-185К
                    span (185 х 135)
        .table-body
            // row
            .body-block
                .body-content 1693 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
            .body-block
                .body-content 2045 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
            .body-block
                .body-content 1964 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>

</section>
<section class="cards-modal">
<h4>Ваш выбор:</h4>
<span class="cards-modal__title-descr"></span>
<span class="cards-modal__dimensions"></span>
<span class="cards-modal__description"><span class="first"></span><span class="second"></span></span>
<span class="cards-modal__price"></span>
<form class="cards-modal__form" action="#" method="get">
<div class="cards__filter-input cards__filter-input--quantity">
<span class="cards__filter-tag">Количество</span>
<div class="cards__input-quantity">
<span class="minus"></span>
<span class="plus">+</span>
<input type="number" id="quantity" name="quantity" min="1" value="1">
</div>
</div>
<input class="visually-hidden" name="title">
<input class="visually-hidden" name="dimensions">
<input class="visually-hidden" name="description">
<input class="visually-hidden" name="price">
<button type="submit" alt="Добавить в корзину">Добавить в корзину</button>
</form>
<button class="modal-form__close-button" type="button"><span class="visually-hidden">Закрыть окно</span></button>
</section>
<div class="overlay"></div>
<div class="cards-modal-success">
<p>Товар успешно добавлен в корзину</p>
</div>
