<section class="cards card-2">
    <div class="breadcrumbs">
        <ul class="breadcrumbs-list cards-container">
            +breadcrumb('catalog.html', 'Каталог')
            +breadcrumb('#', 'Хлебные формы')
            +breadcrumb('#', 'Тостовые')
            +breadcrumb('#', 'Тостерная №1')
        </ul>
    </div>
    <div class="cards__content cards-container">
        <div class="cards__img-wrapper cards__img-wrapper--new">
            <picture class="cards__img-frame noimage">
                <img class="cards__img" src="static/images/content/card-2-example.jpg" width="373" height="240">
            </picture>
        </div>
        <div class="cards__filters">
            <h1>Тостерная №1</h1>
            <span class="cards__tags">SKU Л011</span>
            <span class="cards__availability cards__availability--miss">Нет в наличии</span>
            <div class="cards__filter">
                <div class="cards__filter-wrapper">
                    <span class="cards__filter-tag">Материал</span>
                    <div class="cards__filter-group">
                        <input class="visually-hidden" id="material-1" name="material" type="radio" checked>
                        <label class="cards__label-radio" for="material-1">Углеродистая сталь</label>
                    </div>
                    <div class="cards__filter-group">
                        <input class="visually-hidden" id="material-2" name="material" type="radio" checked>
                        <label class="cards__label-radio" for="material-2">Алюминий А5Н</label>
                    </div>
                    <div class="cards__filter-group">
                        <input class="visually-hidden" id="material-3" name="material" type="radio" checked>
                        <label class="cards__label-radio" for="material-3">Нержавеющая сталь</label>
                    </div>
                </div>
                <div class="cards__filter">
                    <div class="cards__filter-wrapper">
                        <span class="cards__filter-tag">Толщина</span>
                        <div class="cards__filter-group">
                            <input class="visually-hidden" id="thickness-1" name="thickness" type="radio" checked>
                            <label class="cards__label-radio" for="thickness-1">1.5 мм</label>
                        </div>
                        <div class="cards__filter-group">
                            <input class="visually-hidden" id="thickness-2" name="thickness" type="radio" checked>
                            <label class="cards__label-radio" for="thickness-2">2.0 мм</label>
                        </div>
                    </div>
                </div>
                <div class="cards__filter">
                    <div class="cards__filter-wrapper">
                        <div class="cards__filter-input cards__filter-input--side-height">
                            <span class="cards__filter-tag">Высота бортов</span>
                            <ul class="selectric">
                                <li data-index="10mm">10 мм</li>
                                <li data-index="20mm">12 мм</li>
                                <li data-index="30mm">14 мм</li>
                                <li data-index="50mm">16 мм</li>
                            </ul>
                        </div>
                        <div class="cards__filter-input cards__filter-input--side-quantity">
                            <span class="cards__filter-tag">Количество бортов</span>
                            <ul class="selectric">
                                <li data-index="4-sides">4 борта</li>
                                <li data-index="3-sides">3 борта</li>
                                <li data-index="2-sides">2 борта</li>
                            </ul>
                        </div>
                        <div class="cards__filter-input cards__filter-input--quantity">
                            <span class="cards__filter-tag">Количество</span>
                            <div class="cards__input-quantity">
                                <span class="minus"></span>
                                <span class="plus">+</span>
                                <input type="number" id="quantity" name="quantity" min="1" value="1">
                            </div>
                        </div>
                    </div>
                <span class="cards__price">1211 ₽</span>
            </div>
            <button class="cards__button-in-cart visually-hidden" href="#">Добавить в корзину</button>
        </div>
    </div>
</section>
<section class="card-tables card-table-2 cards-container">
    <h2>Выбрать высоту и количество бортов в таблице</h2>
    .table
        .table-main-title
            .aside-empty-title
            .body-main-title Высота бортов
        .table-aside
            .table-title
                span.title-main Кол-во бортов
            .title-block
                span 4 борта
            .title-block
                span 3 борта
            .title-block
                span 2 борта
        .table-body
            // row
            .body-head
                .body-title 10 мм
                .body-title 20 мм
                .body-title 30 мм
                .body-title 50 мм
            .body-block
                .body-content 2081 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 2189 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 2298 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 2516 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
            .body-block
                .body-content 2050 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 2127 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 2205 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 2360 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
            .body-block
                .body-content 2019 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 2065 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 2112 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 2205 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
</section>
<section class="cards-modal">
<h4>Форма тостерная №9</h4>
<span class="cards-modal__dimensions"></span>
<span class="cards-modal__description"><span class="first"></span><span class="second"></span></span>
<span class="cards-modal__price"></span>
<form class="cards-modal__form" action="#" method="get">
<div class="cards__filter-input cards__filter-input--quantity">
<span class="cards__filter-tag">Количество</span>
<div class="cards__input-quantity">
<span class="minus"></span>
<span class="plus">+</span>
<input type="number" id="quantity" name="quantity" min="1" value="1">
</div>
</div>
<input class="visually-hidden" name="title">
<input class="visually-hidden" name="dimensions">
<input class="visually-hidden" name="description">
<input class="visually-hidden" name="price">
<button type="submit" alt="Добавить в корзину">Добавить в корзину</button>
</form>
<button class="modal-form__close-button" type="button"><span class="visually-hidden">Закрыть окно</span></button>
</section>
<div class="overlay"></div>
<div class="cards-modal-success">
<p>Товар успешно добавлен в корзину</p>
</div>
