<section class="cards card-4">
    <div class="breadcrumbs">
        <ul class="breadcrumbs-list cards-container">
            +breadcrumb('catalog.html', 'Каталог')
            +breadcrumb('#', 'Хлебные формы')
            +breadcrumb('#', 'Тостовые')
            +breadcrumb('#', 'Тостерная №1')
        </ul>
    </div>
    <div class="cards__content cards-container">
        <div class="cards__img-wrapper cards__img-wrapper--new">
            <picture class="cards__img-frame noimage">
                <img class="cards__img" src="static/images/content/card-4-example.jpg" width="373" height="240">
            </picture>
        </div>
        <div class="cards__filters">
            <h1>Кольцо</h1>
            <span class="cards__tags">SKU Л011</span>
            <span class="cards__availability">В наличии</span>
            <div class="cards__filter">
                <div class="cards__filter-input cards__filter-input--thickness">
                    <span class="cards__filter-tag">Толщина</span>
                    <p>1 мм</p>
                </div>
                <div class="cards__filter-input cards__filter-input--diameter">
                    <span class="cards__filter-tag">Диаметр</span>
                    <ul class="selectric">
                        <li data-index="90">90</li>
                        <li data-index="100">100</li>
                        <li data-index="110">110</li>
                        <li data-index="120">120</li>
                        <li data-index="130">130</li>
                        <li data-index="140">140</li>
                        <li data-index="150">150</li>
                        <li data-index="160">160</li>
                    </ul>
                </div>
                <div class="cards__filter-input cards__filter-input--height">
                    <span class="cards__filter-tag">Высота</span>
                    <ul class="selectric">
                        <li data-index="40">40</li>
                        <li data-index="50">50</li>
                        <li data-index="60">60</li>
                        <li data-index="70">70</li>
                        <li data-index="80">80</li>
                    </ul>
                </div>
                <div class="cards__filter-input cards__filter-input--quantity">
                    <span class="cards__filter-tag">Количество</span>
                    <div class="cards__input-quantity">
                        <span class="minus"></span>
                        <span class="plus">+</span>
                        <input type="number" id="quantity" name="quantity" min="1" value="1">
                    </div>
                </div>
                <span class="cards__price">1211 ₽</span>
            </div>
            <button class="cards__button-in-cart" href="#">Добавить в корзину</button>
        </div>
    </div>
</section>
<section class="card-tables card-table-4 cards-container">
    <h2>Выбрать диаметр и высоту кольца в таблице</h2>
    .table
        .table-main-title
            .aside-empty-title
            .body-main-title Высота
        .table-aside
            .table-title
                span.title-main Диаметр окр
            .title-block
                span 90
            .title-block
                span 100
            .title-block
                span 110
            .title-block
                span 120
            .title-block
                span 130
            .title-block
                span 140
            .title-block
                span 150
            .title-block
                span 160
            .title-block
                span 170
            .title-block
                span 180
            .title-block
                span 190
            .title-block
                span 200
            .title-block
                span 210
            .title-block
                span 220
            .title-block
                span 230
            .title-block
                span 240
            .title-block
                span 250
            .title-block
                span 260
            .title-block
                span 270
            .title-block
                span 280
            .title-block
                span 290
            .title-block
                span 300
            .title-block
                span 310
            .title-block
                span 320
            .title-block
                span 330
            .title-block
                span 340
            .title-block
                span 350
            .title-block
                span 360
            .title-block
                span 370
            .title-block
                span 380
            .title-block
                span 390
            .title-block
                span 400
        .table-body
            // row
            .body-head
                .body-title 40
                .body-title 50
                .body-title 60
                .body-title 70
                .body-title 80
                .body-title 90
                .body-title 100
            .body-block
                .body-content 238 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 811 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 837 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1073 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1143 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1344 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1416 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
            .body-block
                .body-content 213 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 737 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 763 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 975 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1045 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1222 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1294 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
            .body-block
                .body-content 238 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 809 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 846 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1076 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1157 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1344 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1444 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
            .body-block
                .body-content 250 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 848 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 875 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1122 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1192 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content -
                .body-content 1477 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
            .body-block
                .body-content 259 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 883 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 905 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1160 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1230 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content -
                .body-content 1524 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
            .body-block
                .body-content 238 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 811 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 837 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1073 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1143 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1344 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1416 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
            .body-block
                .body-content 238 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 811 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 837 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1073 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1143 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1344 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1416 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
            .body-block
                .body-content 213 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 737 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 763 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 975 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1045 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1222 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1294 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
            .body-block
                .body-content 238 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 809 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 846 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1076 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1157 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1344 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1444 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
            .body-block
                .body-content 250 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 848 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 875 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1122 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1192 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content -
                .body-content 1477 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
            .body-block
                .body-content 259 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 883 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 905 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1160 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1230 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content -
                .body-content 1524 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
            .body-block
                .body-content 238 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 811 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 837 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1073 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1143 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1344 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1416 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
            .body-block
                .body-content 238 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 811 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 837 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1073 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1143 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1344 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1416 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
            .body-block
                .body-content 213 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 737 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 763 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 975 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1045 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1222 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1294 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
            .body-block
                .body-content 238 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 809 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 846 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1076 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1157 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1344 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1444 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
            .body-block
                .body-content 250 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 848 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 875 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1122 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1192 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content -
                .body-content 1477 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
            .body-block
                .body-content 259 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 883 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 905 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1160 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1230 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content -
                .body-content 1524 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
            .body-block
                .body-content 238 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 811 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 837 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1073 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1143 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1344 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1416 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
            .body-block
                .body-content 238 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 811 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 837 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1073 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1143 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1344 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1416 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
            .body-block
                .body-content 213 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 737 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 763 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 975 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1045 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1222 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1294 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
            .body-block
                .body-content 238 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 809 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 846 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1076 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1157 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1344 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1444 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
            .body-block
                .body-content 250 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 848 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 875 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1122 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1192 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content -
                .body-content 1477 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
            .body-block
                .body-content 259 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 883 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 905 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1160 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1230 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content -
                .body-content 1524 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
            .body-block
                .body-content 238 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 811 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 837 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1073 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1143 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1344 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1416 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
            .body-block
                .body-content 238 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 811 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 837 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1073 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1143 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1344 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1416 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
            .body-block
                .body-content 213 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 737 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 763 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 975 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1045 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1222 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1294 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
            .body-block
                .body-content 238 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 809 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 846 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1076 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1157 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1344 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1444 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
            .body-block
                .body-content 250 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 848 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 875 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1122 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1192 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content -
                .body-content 1477 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
            .body-block
                .body-content 259 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 883 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 905 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1160 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1230 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content -
                .body-content 1524 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
            .body-block
                .body-content 238 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 811 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 837 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1073 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1143 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1344 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1416 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
            .body-block
                .body-content 259 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 883 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 905 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1160 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1230 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content -
                .body-content 1524 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
            .body-block
                .body-content 238 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 811 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 837 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1073 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1143 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1344 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
                .body-content 1416 ₽
                    <button type="button" alt="Выбрать товар">Выбрать</button>
</section>
<section class="cards-modal">
<h4>Форма тостерная №9</h4>
<span class="cards-modal__dimensions"></span>
<span class="cards-modal__description"><span class="first"></span><span class="second"></span></span>
<span class="cards-modal__price"></span>
<form class="cards-modal__form" action="#" method="get">
<div class="cards__filter-input cards__filter-input--quantity">
<span class="cards__filter-tag">Количество</span>
<div class="cards__input-quantity">
<span class="minus"></span>
<span class="plus">+</span>
<input type="number" id="quantity" name="quantity" min="1" value="1">
</div>
</div>
<input class="visually-hidden" name="title">
<input class="visually-hidden" name="dimensions">
<input class="visually-hidden" name="description">
<input class="visually-hidden" name="price">
<button type="submit" alt="Добавить в корзину">Добавить в корзину</button>
</form>
<button class="modal-form__close-button" type="button"><span class="visually-hidden">Закрыть окно</span></button>
</section>
<div class="overlay"></div>
<div class="cards-modal-success">
<p>Товар успешно добавлен в корзину</p>
</div>