<section class="cards card-1">
    <div class="breadcrumbs">
        <ul class="breadcrumbs-list cards-container">
            +breadcrumb('catalog.html', 'Каталог')
            +breadcrumb('#', 'Хлебные формы')
            +breadcrumb('#', 'Тостовые')
            +breadcrumb('#', 'Тостерная №1')
        </ul>
    </div>
    <div class="cards__content cards-container">
        <div class="cards__img-wrapper cards__img-wrapper--new">
            <img class="cards__img" src="static/images/content/card-1-example.jpg" width="373" height="240">
        </div>
        <div class="cards__filters">
            <h2>Тостерная №1</h2>
            <span class="cards__tags">SKU Л011</span>
            <span class="cards__availability">В наличии</span>
            <div class="cards__filter">
                <div class="cards__filter-input cards__filter-input--forms-in-section">
                    <span class="cards__filter-tag">Сборка форм в секции</span>
                    <ul class="selectric">
                        <li data-index="10mm">1</li>
                        <li data-index="20mm">3</li>
                        <li data-index="30mm">3 с ручками</li>
                        <li data-index="10mm">4</li>
                        <li data-index="20mm">4 с ручками</li>
                        <li data-index="30mm">5</li>
                        <li data-index="10mm">5 с ручками</li>
                        <li data-index="20mm">6 с ручками</li>
                    </ul>
                    <img src="static/images/content/card-1-tablet-1.jpg" width="91" height="56">
                </div>
                <div class="cards__filter-input cards__filter-input--form-type">
                    <span class="cards__filter-tag">Тип формы </span>
                    <ul class="selectric">
                        <li data-index="4-sides">Тостерная №7 ( 280 х 80 х 75)</li>
                        <li data-index="3-sides">Тостерная №8 (210 х 80 х 75)</li>
                        <li data-index="2-sides">Тостерная №9 (198 х 113 х 93)</li>
                        <li data-index="4-sides">Рулетница (307 х 107 х 53)</li>
                        <li data-index="3-sides">Волнистая (320 х 125 х 60)</li>
                    </ul>
                    <img src="static/images/content/card-1-tablet-2.jpg" width="72" height="72">
                </div>
                <div class="cards__filter-input cards__filter-input--quantity">
                    <span class="cards__filter-tag">Количество</span>
                    <div class="cards__input-quantity">
                    <span class="minus"></span>
                    <span class="plus">+</span>
                    <input type="number" id="quantity" name="quantity" min="1" value="1">
                    </div>
                </div>
                <span class="cards__price">250 ₽</span>
            </div>
            <button class="cards__button-in-cart" href="#">Добавить в корзину</button>
        </div>
    </div>
</section>
<section class="card__table-block cards-container">
    <h3>Выбрать сборку и тип формы в таблице</h3>
    .table
        .table-main-title
            .aside-empty-title
            .body-main-title Количество форм в секции
        .table-aside
            .table-title Наименование формы Размер, мм
            .title-block
                img(src="static/images/content/table-1-title-example-1.jpg")
                span Тостерная №7
                    span ( 280 х 80 х 75)
            .title-block
                img(src="static/images/content/table-1-title-example-2.jpg")
                span Тостерная №8
                    span ( 280 х 80 х 75)
            .title-block
                img(src="static/images/content/table-1-title-example-3.jpg")
                span Тостерная №9
                    span (198 х 113 х 93)
            .title-block
                img(src="static/images/content/table-1-title-example-4.jpg")
                span Рулетница
                    span (307 х 107 х 53)
            .title-block
                img(src="static/images/content/table-1-title-example-5.jpg")
                span Волнистая
                    span (320 х 125 х 60)
        .table-body
            // Column
            .body-block
                .body-title 1
                .body-photo
                    img(src="static/images/content/table-1-example-1.jpg")
                .body-content 238 ₽
                .body-content 213 ₽
                .body-content 238 ₽
                .body-content 250 ₽
                .body-content 259 ₽
            .body-block
                .body-title 3
                .body-photo
                    img(src="static/images/content/table-1-example-2.jpg")
                .body-content 811 ₽
                .body-content 737 ₽
                .body-content 809 ₽
                .body-content 848 ₽
                .body-content 883 ₽
            .body-block
                .body-title 3
                    span с ручками
                .body-photo
                    img(src="static/images/content/table-1-example-3.jpg")
                .body-content 837 ₽
                .body-content 763 ₽
                .body-content 846 ₽
                .body-content 875 ₽
                .body-content 905 ₽
            .body-block
                .body-title 4
                .body-photo
                    img(src="static/images/content/table-1-example-4.jpg")
                .body-content 1073 ₽
                .body-content 975 ₽
                .body-content 1076 ₽
                .body-content 1122 ₽
                .body-content 1160 ₽
            .body-block
                .body-title 4
                    span с ручками
                .body-photo
                    img(src="static/images/content/table-1-example-5.jpg")
                .body-content 1143 ₽
                .body-content 1045 ₽
                .body-content 1157 ₽
                .body-content 1192 ₽
                .body-content 1230 ₽
            .body-block
                .body-title 5
                .body-photo
                    img(src="static/images/content/table-1-example-6.jpg")
                .body-content 1344 ₽
                .body-content 1222 ₽
                .body-content 1344 ₽
                .body-content -
                .body-content -
            .body-block
                .body-title 5
                    span с ручками
                .body-photo
                    img(src="static/images/content/table-1-example-7.jpg")
                .body-content 1416 ₽
                .body-content 1294 ₽
                .body-content 1444 ₽
                .body-content 1477 ₽
                .body-content 1524 ₽
            .body-block
                .body-title 6
                    span с ручками
                .body-photo
                    img(src="static/images/content/table-1-example-8.jpg")
                .body-content 1697 ₽
                .body-content 1550 ₽
                .body-content 1734 ₽
                .body-content 1769 ₽
                .body-content 1827 ₽
</section>
