@mixin font-face($font-name, $path, $weight: normal, $style: normal) {
  @font-face {
    font-family: quote($font-name);
    src:
      url(#{$path}.woff) format("woff"),
      url(#{$path}.woff2) format("woff2"),
      url(#{$path}.ttf) format("truetype");
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}
@include font-face('Raleway', '../fonts/raleway/Raleway-Bold', 700, 'normal');
//@include font-face('Ubuntu', '../fonts/ubuntu/ubuntu', 500, 'normal');
@include font-face('Roboto', '../fonts/roboto/Roboto-Regular', 400, 'normal');
@include font-face('Roboto', '../fonts/roboto/Roboto-Medium', 500, 'normal');
@include font-face('Roboto', '../fonts/roboto/Roboto-Bold', 700, 'normal');
