.cart-1 {
    width: 100%;

    @include flex-setting(column, flex-start, center);

    padding: 1.5rem 1.5rem 4rem 1.5rem;

    &__title {
        @include font-setting($font-primary, 2rem, 3rem, 700, $color-black);
        text-align: center;

        margin-bottom: 0.75rem;
    }

    &__quantity {
        width: 100%;
        @include flex-setting(row, center, center);
        @include font-setting($font-alt, 0.875rem, 1.25rem, 400, $color-darkgray);

        margin-bottom: 0.5rem;
    }

    &__wrapper {
        width: 100%;

        @include flex-setting(column, flex-start, center);
    }

    &__upper {
        display: none;
    }

    &__list {
        width: 100%;
        max-width: 270px;

        margin-bottom: 1.5rem;

        border-bottom: 3px solid $color-grey;

        @include flex-setting(column, flex-start, center);
    }

    &__item {
        width: 100%;
        max-width: 270px;

        @include flex-setting(column, flex-start, flex-start);

        border-bottom: 3px solid $color-palegray;

        padding-bottom: 1.5rem;
        padding-top: 1.5rem;

        &:last-of-type {
            border-bottom: 0;
        }

        &-details {
            width: 100%;

            @include flex-setting(row, space-between, flex-start);

            margin-bottom: 1rem;
        }

        &-frame {
            width: 100%;
            height: 100%;
            max-height: 70px;
            min-height: 70px;
            max-width: 105px;

            @include flex-setting(column, center, center);

            &.noimage {
                background-color: $color-white;
                background-image: url("data:image/svg+xml,%3Csvg width='57' height='57' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M50.473.351H6.906C3.482.351.682 3.151.682 6.575v43.567c0 3.423 2.8 6.224 6.224 6.224h43.567c3.423 0 6.224-2.8 6.224-6.224V6.575c0-3.423-2.8-6.224-6.224-6.224zm0 6.224v43.567H6.906V6.575h43.567zm-24.46 33.391l9.336-12.043L47.36 43.918H10.018l9.335-12.012 6.66 8.06z' fill='%23000' fill-opacity='.54'/%3E%3C/svg%3E");
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: 50px 50px;

                .cart-1__item-img {
                    display: none;
                }
            }
        }

        &-img {
            max-width: 103px;
            min-width: 103px;
        }

        &-info {
            width: auto;
            max-width: 53%;
            @include flex-setting(column, flex-start, flex-start);
        }

        &-name {
            @include font-setting($font-alt, 0.875rem, 1.25rem, 700, $color-black);

            margin-bottom: 0.25rem;
            text-decoration: none;
            cursor: pointer;
            outline: none;
        }

        &-specs {
            @include font-setting($font-alt, 0.875rem, 1.25rem, 400, $color-black);
            text-align: left;
        }

        &-bottom {
            width: 100%;

            @include flex-setting(row, flex-start, center);
        }

        &-sum {
            display: none;
        }

        &-quantity {
            @include flex-setting(row, space-between, center);

            width: 105px;
            height: 42px;

            padding: 0.75rem 0.75rem;
            margin-right: 1.375rem;

            border: 1px solid $color-grey;
            border-radius: 3px;

            background-color: $color-white;

            &:hover,
            &:active {
                border-color: $color-blue;
                box-shadow: inset 0px 0px 0px 1px $color-blue;
                background: linear-gradient(0deg, rgba(47, 128, 237, 0.05), rgba(47, 128, 237, 0.05)), #FFFFFF;
                outline: none;
            }

            &:disabled {
                border: none;
                box-shadow: none;
                background: rgba(152, 160, 170, 0.15);

                &:hover,
                &:focus {
                    border: none;
                    background: rgba(152, 160, 170, 0.15);
                }
            }

            &.invalid {
                border-color: $color-red;
                box-shadow: inset 0px 0px 0px 1px $color-red;
                background: linear-gradient(0deg, rgba(235, 87, 87, 0.1), rgba(235, 87, 87, 0.1)), #FFFFFF;
                outline: none;
            }
        }

        .minus,
        .plus {
            display: inline-flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            min-width: 16px;
            width: 16px;
            height: 16px;

            border: none;
            background-color: transparent;
            box-shadow: none;

            padding: 0;

            cursor: pointer;
        }

        .minus {
            background-image: url("data:image/svg+xml,%3Csvg width='12' height='2' viewBox='0 0 12 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='12' height='2' rx='1' fill='%231F2528' opacity='0.5'/%3E%3C/svg%3E%0A");
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: 12px 2px;

            transition: 0.2s linear;

            &:hover,
            &:active {
                background-image: url("data:image/svg+xml,%3Csvg width='12' height='2' viewBox='0 0 12 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='12' height='2' rx='1' fill='%231F2528' opacity='0.8'/%3E%3C/svg%3E%0A");
                transition: 0.2s linear;
            }

            &:disabled {
                background-image: url("data:image/svg+xml,%3Csvg width='12' height='2' viewBox='0 0 12 2' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='12' height='2' rx='1' fill='%2398A0AA' opacity='0.65'/%3E%3C/svg%3E%0A");
            }
        }

        .plus {
            background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6 0C6.55228 0 7 0.447715 7 1V5H11C11.5523 5 12 5.44772 12 6C12 6.55228 11.5523 7 11 7H7V11C7 11.5523 6.55228 12 6 12C5.44772 12 5 11.5523 5 11V7H1C0.447715 7 0 6.55228 0 6C0 5.44772 0.447715 5 1 5H5V1C5 0.447715 5.44772 0 6 0Z' fill='%231F2528' opacity='0.5'/%3E%3C/svg%3E");
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: 12px 12px;
            transition: 0.2s linear;

            &:hover,
            &:active {
                transition: 0.2s linear;
                background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6 0C6.55228 0 7 0.447715 7 1V5H11C11.5523 5 12 5.44772 12 6C12 6.55228 11.5523 7 11 7H7V11C7 11.5523 6.55228 12 6 12C5.44772 12 5 11.5523 5 11V7H1C0.447715 7 0 6.55228 0 6C0 5.44772 0.447715 5 1 5H5V1C5 0.447715 5.44772 0 6 0Z' fill='%231F2528' opacity='0.8'/%3E%3C/svg%3E");
            }

            &:disabled {
                background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6 0C6.55228 0 7 0.447715 7 1V5H11C11.5523 5 12 5.44772 12 6C12 6.55228 11.5523 7 11 7H7V11C7 11.5523 6.55228 12 6 12C5.44772 12 5 11.5523 5 11V7H1C0.447715 7 0 6.55228 0 6C0 5.44772 0.447715 5 1 5H5V1C5 0.447715 5.44772 0 6 0Z' fill='%2398A0AA' opacity='0.65'/%3E%3C/svg%3E");
            }
        }

        input,
        &-input {
            width: 100%;
            border: none;
            background-color: transparent;

            text-align: center;

            @include flex-setting(column, center, center);
            @include font-setting($font-alt, 1rem, 1.5rem, 400, $color-black);

            padding: 0;
            -moz-appearance: textfield;

            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                margin: 0;
            }
        }

        &-price {
            @include font-setting($font-alt, 1rem, 1.5rem, 700, $color-black);
        }

        &-remove {
            @include flex-setting(column, center, center);

            width: 16px;
            height: 16px;

            margin-left: auto;
            margin-right: 0;

            background-color: transparent;
            box-shadow: none;
            border-radius: 0;
            padding: 0;

            border: none;

            cursor: pointer;

            background-image: url("data:image/svg+xml,%3Csvg width='14' height='12' viewBox='0 0 14 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 0C9.55229 0 10 0.447715 10 1V2H13C13.5523 2 14 2.44772 14 3C14 3.55228 13.5523 4 13 4H12V9C12 10.6569 10.8807 12 9.5 12H4.5C3.11929 12 2 10.6569 2 9V4H1C0.447715 4 0 3.55228 0 3C0 2.44772 0.447715 2 1 2H4V1C4 0.447715 4.44772 0 5 0H9ZM5 4C4.48716 4 4.06449 4.38604 4.00673 4.88338L4 5V9C4 9.55229 4.44772 10 5 10C5.51284 10 5.93551 9.61396 5.99327 9.11662L6 9V5C6 4.44772 5.55228 4 5 4ZM9 4C8.48716 4 8.06449 4.38604 8.00673 4.88338L8 5V9C8 9.55229 8.44771 10 9 10C9.51284 10 9.93551 9.61396 9.99327 9.11662L10 9V5C10 4.44772 9.55229 4 9 4Z' fill='%231F2528' opacity='0.5'/%3E%3C/svg%3E%0A");
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: 14px 12px;
            transition: 0.2s linear;

            &:hover,
            &:active {
                box-shadow: none;
                background-color: transparent;
                background-image: url("data:image/svg+xml,%3Csvg width='14' height='12' viewBox='0 0 14 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 0C9.55229 0 10 0.447715 10 1V2H13C13.5523 2 14 2.44772 14 3C14 3.55228 13.5523 4 13 4H12V9C12 10.6569 10.8807 12 9.5 12H4.5C3.11929 12 2 10.6569 2 9V4H1C0.447715 4 0 3.55228 0 3C0 2.44772 0.447715 2 1 2H4V1C4 0.447715 4.44772 0 5 0H9ZM5 4C4.48716 4 4.06449 4.38604 4.00673 4.88338L4 5V9C4 9.55229 4.44772 10 5 10C5.51284 10 5.93551 9.61396 5.99327 9.11662L6 9V5C6 4.44772 5.55228 4 5 4ZM9 4C8.48716 4 8.06449 4.38604 8.00673 4.88338L8 5V9C8 9.55229 8.44771 10 9 10C9.51284 10 9.93551 9.61396 9.99327 9.11662L10 9V5C10 4.44772 9.55229 4 9 4Z' fill='%231F2528' opacity='0.8' /%3E%3C/svg%3E%0A");
                transition: 0.2s linear;
            }

            &:disabled {
                background-image: url("data:image/svg+xml,%3Csvg width='14' height='12' viewBox='0 0 14 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 0C9.55229 0 10 0.447715 10 1V2H13C13.5523 2 14 2.44772 14 3C14 3.55228 13.5523 4 13 4H12V9C12 10.6569 10.8807 12 9.5 12H4.5C3.11929 12 2 10.6569 2 9V4H1C0.447715 4 0 3.55228 0 3C0 2.44772 0.447715 2 1 2H4V1C4 0.447715 4.44772 0 5 0H9ZM5 4C4.48716 4 4.06449 4.38604 4.00673 4.88338L4 5V9C4 9.55229 4.44772 10 5 10C5.51284 10 5.93551 9.61396 5.99327 9.11662L6 9V5C6 4.44772 5.55228 4 5 4ZM9 4C8.48716 4 8.06449 4.38604 8.00673 4.88338L8 5V9C8 9.55229 8.44771 10 9 10C9.51284 10 9.93551 9.61396 9.99327 9.11662L10 9V5C10 4.44772 9.55229 4 9 4Z' fill='%23EAEFF7'/%3E%3C/svg%3E%0A");
            }
        }
    }

    &__checkout {
        width: 100%;

        @include flex-setting(column, flex-start, center);

        &-info {
            width: 100%;

            @include flex-setting(column, flex-start, center);

            margin-bottom: 1.5rem;
        }

        &-final {
            @include font-setting($font-alt, 1rem, 1.5rem, 400, $color-black);
            margin-bottom: 0.313rem;
        }

        &-overall {
            margin-left: 1rem;
            @include font-setting($font-alt, 1.25rem, 1.875rem, 700, $color-black);
        }

        &-weight {
            @include font-setting($font-alt, 0.875rem, 1.25rem, 400, $color-grey);
        }

        &-btn {
            @include flex-setting(column, center, center);
            @include font-setting($font-alt, 1rem, 1.5rem, 500, $color-white);

            padding: 0.567rem 1rem;
            text-decoration: none;
            background-color: $color-blue;
            border: none;
            border-radius: 3px;

            box-shadow: 0px 3px 20px rgba(46, 51, 63, 0.35);

            cursor: pointer;

            transition: 0.2s linear;

            &:hover,
            &:active {
                color: $color-white;
                background-color: $blue-hover;
                transition: 0.2s linear;
            }

            &:visited {
                color: $color-white;
            }

            &:disabled {
                background-color: rgba(152, 160, 170, 0.15);
                color: rgba(31, 37, 40, 0.5);
                pointer-events: none;
                box-shadow: none;
            }
        }
    }
}

@media only screen and (min-width: $tablet) {
    .cart-1 {
        padding: 3rem 1.937rem 6rem 1.937rem;

        &__quantity {
            margin-bottom: 3rem;
        }

        &__upper {
            width: 100%;
            @include flex-setting(row, space-between, center);

            padding-bottom: 0.937rem;

            &-left {
                width: 50%;
                display: grid;
                grid-template-columns: 103px 1fr;
                grid-column-gap: 2.188rem;
            }

            &-right {
                width: 50%;
                display: grid;
                grid-template-columns: repeat(3, 33%);
                padding-left: 0.875rem;
            }

            &-name {
                text-align: center;
                @include font-setting($font-alt, 0.875rem, 1.25rem, 700, $color-black);

                &.second {
                    text-align: left;
                }
            }
        }

        &__list {
            margin-bottom: 2rem;
            max-width: 100%;
        }

        &__item {
            width: 100%;
            max-width: 100%;

            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            border-top: 3px solid $color-palegray;
            border-bottom: none;

            padding-bottom: 1.5rem;
            padding-top: 1.5rem;

            &-details {
                width: 50%;
                display: grid;
                grid-template-areas:
                    'photo details'
                ;

                grid-template-columns: 103px 203px;
                grid-column-gap: 2rem;

                margin-bottom: 0;
                margin-right: 2rem;
                justify-content: flex-start;
                align-items: start;
                align-content: start;

                position: relative;
            }

            &-frame {
                max-width: 103px;
            }

            &-img {
                grid-area: photo;
                max-width: 103px;
                min-width: 103px;
            }

            &-info {
                grid-area: details;
                width: 100%;
                max-width: 203px;
                @include flex-setting(column, flex-start, flex-start);
            }

            &-name {
                margin-bottom: 0.25rem;
            }

            &-bottom {
                width: 50%;
                display: grid;
                grid-template-columns: 105px 33% 33%;

                position: relative;
                justify-content: space-between;
                align-items: center;
                align-content: center;
            }

            &-sum {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                @include font-setting($font-alt, 1rem, 1.5rem, 700, $color-black);
                text-align: center;
            }

            &-quantity {
                margin-right: 0;
            }

            &-price {
                display: inline-flex;
                font-weight: 400;
                margin-right: 0;
                justify-content: center;
                align-items: center;
                text-align: center;
            }

            &-remove {
                position: absolute;
                top: 50%;
                right: 0;

                transform: translateY(-50%);
            }
        }

        &__checkout {
            width: 100%;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;

            &-info {
                width: auto;
                margin-bottom: 0;
                margin-right: 2rem;
            }
        }
    }

}

@media only screen and (min-width: $laptop-sm) {
    .cart-1 {
        padding: 4rem 0 8rem 0;

        &__title {
            font-size: 3rem;
            line-height: 4rem;
        }

        &__quantity {
            margin-bottom: 4rem;
        }

        &__wrapper {
            max-width: 864px;
        }

        &__upper {
            &-left {
                grid-column-gap: 2rem;
            }

            &-right {
                padding-left: 1.125rem;
                grid-template-columns: 146px 120px 120px 1fr;
            }

            &-name {
                &.third {
                    text-align: left;
                }
            }
        }

        &__item {
            &-details {
                grid-template-columns: 103px 283px;
                grid-column-gap: 2rem;
                margin-right: 0;
            }

            &-info {
                max-width: 283px;
            }

            &-bottom {
                justify-content: space-around;
                padding-left: 0.625rem;
                grid-template-columns: 153px 120px 120px 1fr;
            }
        }

        &__checkout {
            width: 100%;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;

            &-info {
                width: auto;
                margin-bottom: 0;
                margin-right: 2rem;
            }
        }
    }

}

@media only screen and (min-width: $laptop-lg) {
    .cart-1 {
        &__wrapper {
            max-width: 1024px;
        }

        &__upper {
            &-right {
                max-width: 406px;
                padding-left: 0.625rem;
                grid-template-columns: 146px 120px 120px 16px;
            }
        }

        &__item {
            &-details {
                grid-template-columns: 103px 443px;
            }

            &-info {
                max-width: 443px;
            }

            &-bottom {
                max-width: 406px;
                justify-content: space-between;
                padding-left: 0;
                grid-template-columns: 153px 120px 120px 1fr;
            }
        }
    }
}

@media only screen and (min-width: $laptop-xl) {
    .cart-1 {
        &__wrapper {
            max-width: 1048px;
        }

        &__upper {
            &-right {
                max-width: 430px;
                grid-template-columns: 140px 130px 130px 16px;
            }
        }

        &__item {
            &-details {
                grid-template-columns: 103px 443px;
            }

            &-bottom {
                max-width: 430px;
                grid-template-columns: 153px 130px 130px 1fr;
            }
        }
    }
}
