.filter {
    width: 100%;

    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    margin-bottom: 2rem;

    &__sort {
        margin-bottom: 1.25rem;
        @include flex-setting(row, flex-start, center);

        position: relative;

        &-title {
            display: inline-flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            @include font-setting($font-alt, 1rem, 1.5rem, 400, $color-black);
        }

        &-type {
            @include font-setting($font-alt, 1rem, 1.5rem, 500, $color-blue);
            padding-right: 1.688rem;
            padding-left: 0.75rem;

            position: relative;

            cursor: pointer;
            outline: none;

            &::after {
                position: absolute;
                content: '';

                width: 0;
                height: 0;
                border-style: solid;
                border-width: 4.2px 0 4.2px 4.2px;
                border-color: transparent transparent transparent $color-blue;

                top: 40%;
                transform: rotate(90deg) translateY(-50%);
                right: 0.625rem;

                transition: 0.2s linear;
            }

            &.pressed {
                &::after {
                    transform: rotate(270deg);
                    transition: 0.2s linear;
                }
            }
        }

        &-list {
            min-width: 230px;
            overflow-y: hidden;
            background-color: $color-white;
            border: none;
            top: 2rem;
            left: 0;

            transform: scaleY(0);
            opacity: 0;
            pointer-events: none;
            transform-origin: top;

            transition: 0.2s linear;

            padding: 1.5rem 1.5rem 1.5rem 1.5rem;

            box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.15);
            border-radius: 3px;

            position: absolute;

            z-index: 3;

            &.active {
                top: 2rem;
                left: 0;
                transition: 0.2s linear;

                transform: scaleY(1);
                opacity: 1;
                pointer-events: all;
                transform-origin: top;
                z-index: 3;
            }
        }

        &-item {
            @include font-setting($font-alt, 1rem, 1.5rem, 400, $color-black);
            margin-bottom: 0.75rem;
            padding: 0;

            cursor: pointer;
            outline: none;

            &:last-of-type {
                margin-bottom: 0;
            }

            &.selected {
                color: $color-blue;
            }

            &:hover,
            &:active {
                color: $color-blue;
            }
        }
    }

    &__stats {
        width: 100%;

        @include flex-setting(row, flex-start, center);
    }

    &__text {
        @include font-setting($font-alt, 0.875rem, 1.25rem, 400, $color-grey);
    }
}

@media only screen and (min-width: $tablet) {
    .filter {
        width: 100%;

        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        margin-bottom: 2rem;

        &__sort {
            margin-bottom: 0;
        }

        &__stats {
            width: 100%;
            padding-top: 1.313rem;

            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;
        }

        &__text {
            text-align: left;
        }
    }
}

@media only screen and (min-width: $laptop-sm) {
    .filter {
        justify-content: flex-start;
        flex-wrap: nowrap;

        margin-bottom: 1.5rem;

        &__stats {
            width: auto;
            margin-left: auto;
            margin-right: 0;
            padding-top: 0;
        }
    }
}
