section.cart.cart-empty
    h2.cart-empty__title Корзина
    b.cart-empty__subtitle Ваша корзина пуста
    p.cart-empty__description Выберите нужный Вам товар в каталоге и добавьте его в корзину.
    a(href="#" target="_self").cart-empty__catalog Перейти в каталог
