section.main__cart-3.cart-3
    h2.cart-3__title Спасибо за Ваш заказ!
    p.cart-3__description Подтверждение заказа и вся информация направлены на 
        a(href="mailto:ivan_ivanov@mail.ru" target="_blank").cart-3__mail ivan_ivanov@mail.ru

    .cart-3__order.order 
        .order__head
            .order__details
                h3.order__nr Заказ № 15
                time(datetime="2020-08-15 19:00").order__date 15.08.2020&nbsp;19:00
            button(type="button").order__print Распечатать&nbsp;заказ
        ul.order__list
            +cart-order('category-1', 'Форма тостерная №9', '(198 x 113 x 93)', '3 формы с ручками в секции', 'x 1')
            +cart-order('category-1', 'Форма тостерная №9', '(198 x 113 x 93)', '3 формы с ручками в секции', 'x 24')
        .order__final
            p.order__final-price На сумму 6 250 ₽
            span.order__final-weight Общий вес: 7,08 кг
    
    .cart-3__address.address
        +address('Оплата: ожидание оплаты', 'Наличными', 'Адрес доставки', 'Московская область, г. Москва, Ленина, 12, кв. 34', 'Способ доставки', 'ПЭК')
