section.main__cat.catalog
    h1.catalog__title Каталог продукции
    ul.catalog__list
        +cat-type('type-1', '#', 'noimage', 'type-1', 'Хлебные формы')
        +cat-type('type-2', '#', '', 'type-2', 'Противни')
        +cat-type('type-3', '#', '', 'type-3', 'Тележки')
        +cat-type('type-4', '#', '', 'type-4', 'Кондитерские формы')
        +cat-type('type-5', '#', '', 'type-5', 'Люльки')
        +cat-type('type-6', '#', '', 'type-6', 'Столы')
        +cat-type('type-7', '#', '', 'type-7', 'Стеллажи')
        +cat-type('type-8', '#', '', 'type-8', 'Пресс-формы для ветчины')
        +cat-type('type-9', '#', '', 'type-1', 'Хлебные формы')
        +cat-type('type-10', '#', '', 'type-2', 'Противни')
        +cat-type('type-11', '#', '', 'type-3', 'Тележки')
        +cat-type('type-12', '#', '', 'type-5', 'Люльки')
