section.main__category.category
    h1.category__title Хлебные формы
    
    .category__breadcrumbs.breadcrumbs._category
        ul.breadcrumbs-list._category
            +breadcrumb('catalog.html', 'Каталог', '')
            +breadcrumb('#', 'Хлебные формы', 'active')
    
    .category__wrapper
        aside.category__aside.aside
            ul.aside__list
                +aside-link('Хлебные формы', 'Тостовые', 'Прямоугольные', 'Овальные', 'Батонницы', 'Круглые', 'Формы из листового металла')
                +aside-link('Противни', 'Тостовые', 'Прямоугольные', 'Овальные', 'Батонницы', 'Круглые', 'Формы из листового металла')
                +aside-link('Тележки', 'Тостовые', 'Прямоугольные', 'Овальные', 'Батонницы', 'Круглые', 'Формы из листового металла')
                +aside-link('Кондитерские формы', 'Тостовые', 'Прямоугольные', 'Овальные', 'Батонницы', 'Круглые', 'Формы из листового металла')
                +aside-link('Люльки', 'Тостовые', 'Прямоугольные', 'Овальные', 'Батонницы', 'Круглые', 'Формы из листового металла')
                +aside-link('Столы', 'Тостовые', 'Прямоугольные', 'Овальные', 'Батонницы', 'Круглые', 'Формы из листового металла')
                +aside-link('Стеллажи', 'Тостовые', 'Прямоугольные', 'Овальные', 'Батонницы', 'Круглые', 'Формы из листового металла')
        .category__content
            .category__filter.filter
                // Фильтр по цене
                .filter__price
                    button(type="button").filter__price-open Цена: 
                        span.filter__price-text Все
                    .filter__price-body
                        .filter__price-controls
                            input(type="text" value="0").js-input-from
                            input(type="text" value="0").js-input-to
                        .filter__price-choose
                            input(type="text" name="my_range" value="").js-range-slider
                // Фильтр сортировки
                .filter__sort
                    span.filter__sort-title Сортировка: 
                    ul.filter__sort-list.selectric
                        +sort-item('alfabet', 'По алфавиту')
                        +sort-item('popular', 'По популярности')
                        +sort-item('to-high', 'По возрастанию цены')
                        +sort-item('to-low', 'По уменьшению цены')
                        +sort-item('latest', 'По обновлению')
                        
                // Данные по отфильтрованным позициям
                .filter__stats
                    span.filter__text Показано с 
                        span.filter__text.current 1 
                        span.filter__text.from по 32 товаров 
                        span.filter__text.all (всего 127 товаров)
            
            // Список для подкатегорий
            .category__items
                ul.category__types.types-list
                    +types-item('category-1', '#', 'category-1', 'Тостовые')
                    +types-item('category-2', '#', 'category-2', 'Прямоугольные')
                    +types-item('category-3', '#', 'category-3', 'Овальные')
                    +types-item('category-4', '#', 'category-4', 'Батонницы')
                    +types-item('category-5', '#', 'category-5', 'Круглые')
                    +types-item('category-6', '#', 'category-6', 'Формы из листового металла')
                    
                ul.category__goods.goods-list
                    +goods-item('goods-1', '#', 'goods-1', 'New', 'Тостерная №1', 'SKU ЛО11', '250 ₽')
                    +goods-item('goods-2', '#', 'goods-2', 'New', 'Тостерная №1', 'SKU ЛО11', '250 ₽')
                    +goods-item('goods-3', '#', 'goods-3', 'New', 'Тостерная №1', 'SKU ЛО11', '250 ₽')
                    +goods-item('goods-4', '#', 'goods-4', 'New', 'Тостерная №1', 'SKU ЛО11', '250 ₽')
                    +goods-item('goods-5', '#', 'goods-5', 'New', 'Тостерная №1', 'SKU ЛО11', '250 ₽')
                    +goods-item('goods-6', '#', 'goods-6', 'New', 'Тостерная №1', 'SKU ЛО11', '250 ₽')
                    +goods-item('goods-7', '#', 'goods-7', 'New', 'Тостерная №1', 'SKU ЛО11', '250 ₽')
                    +goods-item('goods-8', '#', 'goods-8', 'New', 'Тостерная №1', 'SKU ЛО11', '250 ₽')
            
            .category__pagination.pagination
                .pagination__wrapper
                    button(type="button").pagination__prev.inactive
                    +pagination('1', '2', '3', '...', '10')
                    button(type="button").pagination__next
                
                .pagination__stats
                    span.filter__text Показано с 
                        span.filter__text.current 1 
                        span.filter__text.from по 32 товаров 
                        span.filter__text.all (всего 127 товаров)
