section.main__category.category
    h1.category__title Хлебные формы
    
    .category__breadcrumbs
        ul.breadcrumbs
            +breadcrumb('catalog.html', 'Каталог')
            +breadcrumb('#', 'Хлебные формы')
    
    .category__wrapper
        aside.category__aside.aside
            ul.aside__list
                +aside-link('Хлебные формы', 'Тостовые', 'Прямоугольные', 'Овальные', 'Батонницы', 'Круглые', 'Формы из листового металла')
                +aside-link('Противни', 'Тостовые', 'Прямоугольные', 'Овальные', 'Батонницы', 'Круглые', 'Формы из листового металла')
                +aside-link('Тележки', 'Тостовые', 'Прямоугольные', 'Овальные', 'Батонницы', 'Круглые', 'Формы из листового металла')
                +aside-link('Кондитерские формы', 'Тостовые', 'Прямоугольные', 'Овальные', 'Батонницы', 'Круглые', 'Формы из листового металла')
                +aside-link('Люльки', 'Тостовые', 'Прямоугольные', 'Овальные', 'Батонницы', 'Круглые', 'Формы из листового металла')
                +aside-link('Столы', 'Тостовые', 'Прямоугольные', 'Овальные', 'Батонницы', 'Круглые', 'Формы из листового металла')
                +aside-link('Стеллажи', 'Тостовые', 'Прямоугольные', 'Овальные', 'Батонницы', 'Круглые', 'Формы из листового металла')
        .category__content.content
            
            .content__filter.filter
                // Фильтр по цене
                .filter__price
                    select
                        option(value="hide") Все
                        option(value="all") Все
                        option(value="cheap-first") Сначала дешевле
                        option(value="cheap-last") Сначала дороже
                
                // Фильтр сортировки
                .filter__sort
                    select
                        option(value="hide") По алфавиту
                        option(value="alfabet") По алфавиту
                        option(value="sku") По артикулу
                        option(value="latest") Новинки
                        
                // Данные по отфильтрованным позициям
                .filter__stats
                    span.filter__text Показано с 
                        span.filter__text.current 1 
                        span.filter__text.from по 32 товаров 
                        span.filter__text.all (всего 127 товаров)
            
            // Список для подкатегорий
            .content__wrapper
                ul.content__types.types-list
                    +types-item('category-1', '#', 'category-1', 'Тостовые')
                    +types-item('category-2', '#', 'category-2', 'Прямоугольные')
                    +types-item('category-3', '#', 'category-3', 'Овальные')
                    +types-item('category-4', '#', 'category-4', 'Батонницы')
                    +types-item('category-5', '#', 'category-5', 'Круглые')
                    +types-item('category-6', '#', 'category-6', 'Формы из листового металла')
                    
                ul.content__goods.goods-list
                    +goods-item('goods-1', '#', 'goods-1', 'New', 'Тостерная №1', 'SKU Л011', '250 ₽')
                    +goods-item('goods-2', '#', 'goods-2', 'New', 'Тостерная №1', 'SKU Л011', '250 ₽')
                    +goods-item('goods-3', '#', 'goods-3', 'New', 'Тостерная №1', 'SKU Л011', '250 ₽')
                    +goods-item('goods-4', '#', 'goods-4', 'New', 'Тостерная №1', 'SKU Л011', '250 ₽')
                    +goods-item('goods-5', '#', 'goods-5', 'New', 'Тостерная №1', 'SKU Л011', '250 ₽')
                    +goods-item('goods-6', '#', 'goods-6', 'New', 'Тостерная №1', 'SKU Л011', '250 ₽')
                    +goods-item('goods-7', '#', 'goods-7', 'New', 'Тостерная №1', 'SKU Л011', '250 ₽')
                    +goods-item('goods-8', '#', 'goods-8', 'New', 'Тостерная №1', 'SKU Л011', '250 ₽')
                    +goods-item('goods-9', '#', 'goods-9', 'New', 'Тостерная №1', 'SKU Л011', '250 ₽')
                    +goods-item('goods-10', '#', 'goods-10', 'New', 'Тостерная №1', 'SKU Л011', '250 ₽')
            
            .content__pagination.pagination
                button(type="button").pagination__prev
                +pagination('1', '2', '3', '4', '..', '10')
                button(type="button").pagination__next
                
                .pagination__stats
                    span.filter__text Показано с 
                        span.filter__text.current 1 
                        span.filter__text.from по 32 товаров 
                        span.filter__text.all (всего 127 товаров)
