section.main__features.features
    .features__wrapper
        h2.features__title Наши преимущества
        ul.features__list
            +features-item('icon-1', 'Широкий ассортимент', 'Более 100 видов литых форм, а также сварные формы любого размера из нержавейки, алюминия и углеродистой стали')
            +features-item('icon-2', 'Уникальность', 'Формы с логотипом (буквой) вашей компании. Логотип защитит вашу продукцию от подделки')
            +features-item('icon-3', 'Продуктивность', 'Сборка в секции по 2,3,4,5,6 и более форм. Позволяют ускорить процесс загрузки и выемки хлеба из печи')
            +features-item('icon-4', 'Безопасность', 'Металлы и сплавы разрешены для пищевого производства')
            +features-item('icon-5', 'Универсальность', 'Подберем формы под габариты Вашей печи')
            +features-item('icon-6', 'Индивидуальность', 'Изготовим литую форму по Вашим размерам, при заказе от 500 шт. Изготовление оснастки за наш счет')
