section.main__shipment.shipment
    .shipment__wrapper
        h2.shipment__title Наши отгрузки
        ul.shipment__list
            +ship-item('ship-1', 'Отгрузка кондитерских форм - г. Белгород', '25.08.2020')
            +ship-item('ship-2', 'Отгрузка пресс-форм для ветчин - г. Ханты-Мансийск', '03.08.2020')
            +ship-item('ship-3', 'Отгрузка хлебных форм - г. Нижний Новгород', '14.07.2020')
        a(href="#" target="_self").shipment__more Все отгрузки
